h1{
    text-align: center;
    color:rgb(81, 159, 204);
}

li{
    list-style-type: decimal;
}

div{
    border: dotted 1px rgb(20, 19, 20);
    width: 30%;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

img{
    height: 120px;
    width: 120px;
    float: right;
}