@model ASP_App1.Models.Course

<h2>Course Details</h2>

<table>
  <tr>
    <th>Course ID:</th>
    <th><input type="text" id="CourseId" name="CourseId" readonly="readonly" value="@Model.CourseId" /></th>
  </tr>
  <tr>
    <th>Course Name:</th>
    <th><input type="text" id="CourseName" name="CourseName" readonly="readonly" value="@Model.CourseName" /></th>
  </tr>
  <tr>
    <th>Course Duration:</th>
    <th><input type="text" id="Duration" name="Duration" readonly="readonly" value="@Model.Duration" /></th>
  </tr>
  <tr>
    <th>Course Level:</th>
    <th><input type="text" id="Level" name="Level" readonly="readonly" value="@Model.Level" /></th>
  </tr>
</table>
