<section>
  <h2>Welcome</h2>

  <br>
  <br>

  <p>
    <strong>Your booking for vehical Number, @ViewBag.VehicleNo was confirmed.</strong>
  </p>

  <p>
    <strong>Our service adviser (@ViewBag.City) will call you in
      Phone Number: @ViewBag.PhoneNumber</strong>
  </p>
</section>