h1 {
  text-align: center;
  color: #ff00ff;
  font-style: italic;
  font-weight: bold;
}

table {
  text-align: left;
  margin-left: 35%;
  border-spacing: 10px;
  border-width: 10%;
  border-style: solid;
  background-color: #f899a4;
}
td {
  border-style: ridge;
  padding: 10px;
}
