<nav class="navbar navbar-expand-md navbar-light bg-faded">
    <div class="navbar-header">
        <a class="navbar-brand" href="https://www.justcompile.com/">Just Compile</a>
    </div>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-3">
            <a routerLink="/home">Home</a>
        </li>
        <li class="nav-item mx-3">
            <a routerLink="/about">About</a>
        </li>
        <li class="nav-item mx-3">
            <a routerLink="/login">Login</a>
        </li>
    </ul>
</nav>