@model ASP_EF_App1.Models.Student

<table>

  <tr>
    <td>StudentName</td>
    <td>
      <b>@Model.StudentName</b>
    </td>
  </tr>

  <tr>
    <td>Department</td>
    <td>
      <b>@Model.Department</b>
    </td>
  </tr>

  <tr>
    <td>PhoneNumber</td>
    <td>
      <b>@Model.PhoneNumber</b>
    </td>
  </tr>

  <tr>
    <td>EnrolledDate</td>
    <td>
      <b>@Model.EnrolledDate</b>
    </td>
  </tr>
</table>